<div>
	<form method="POST" action="/auth/registration">
		<div class="modal-box">
			<div id="loadingIndicator" class="loading-overlay">
				<div class="loading-center">
					<div class="loading-indicator">
					</div>
				</div>
			</div>

			<div class="header">
				<img class="logo" src="../../media/peopleplan_logo.png"/>
			</div>

			<div class="alert">
	        	{{#if error_msg}}
                	<p>{{error_msg}}</p>
            	{{/if}}
			</div>

			<input name="username" id="usernameInput" required="true" type="text" class="default-input" maxLength="100" placeholder="Username"/>

			<input name="password" id="passwordInput" required="true" type="password" class="default-input small-margin-top" maxLength="100" placeholder="Password"/>
			<div class="toggle-password-box">
				<span id="togglePasswordButton" class="toggle-password-icon bi-eye"></span>
			</div>

            <input name="repeatpassword" id="passwordInput" required="true" type="password" class="default-input small-margin-top" maxLength="100" placeholder="Repeat password"/>
			<div class="toggle-password-box">
				<span id="togglePasswordButton" class="toggle-password-icon bi-eye"></span>
			</div>

			<div class="footer">
				<button id="submitButton" type="submit" class="submit-button">Registration</button>
			</div>
		</div>
	</form>
</div>